div#main-footer p{
    color: azure;
    margin-top: 1%;
}


div#main-footer{
    background: rgb(5, 5, 5);
    height: 15%;
    width: 99%;
    border: 2px solid rgb(0, 0, 0);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: 2%;
    margin-right:0.35%;
    margin-left:0.35%;
    margin-bottom:0.35%;
    text-align: center;
    position: unset;
	bottom: 0%;
   
};





