* {
    margin : 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background: #eff7f7;
    font : 14px Arial, helvetica,sans-serif;
    -webkit-font-smoothing : antialiased !important;

}
fieldset {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 1%;
    margin-top: 1%;
}