* {
    margin : 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background: #d4d4d4;
    font : 14px Arial, helvetica,sans-serif;
    -webkit-font-smoothing : antialiased !important;

}
fieldset {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 1%;
    margin-top: 1%;
}

.navbar-expand-sm{
    margin-top: 0.14%;
    margin-right:0.35%;
    margin-left:0.35%;
    margin-bottom:0.35%;
}

